@media (max-width: 990px){.bravo_wrap .bravo_user_profile .container-fluid .row-eq-height .col-md-3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 99;
    max-width: 250px;
    transform: translate(-100%);
    transition: all .3s;
    height: 100%;
    overflow-y: auto;
}

.bravo_wrap .bravo_user_profile .container-fluid .row-eq-height .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}}
